body
            {
                margin-top: 10px;
                padding: 0;
                font-family:  Calibri, 'Trebuchet MS', sans-serif;
                font-size: 16px;
                background: white;
                line-height: 20px;
                font-weight: 300;
                color: black;
            }
            .header
            {
                padding: 15px 25px;
                font-size: 19px;
            }
            
           
            .header h5
            {
                margin:0px;
                font-weight: 300;
                text-align: justify;
            }
            .header h5 > span
            {
                margin-left: 300px;
            }
            .section h4
            {
                margin-bottom: 0px;
            }
            .section p
            {
                font-weight: 0;
                text-align: justify;
                margin-top: 6px;
            }
            .section h5
            {
                margin:2px 0px 0px 9px;
            }
            .section
            {
                padding: 0px 25px
            }
            .section ul
            {
                margin:6px 0px;
            }
            .tooltip {
                position: relative;
                display: inline-block;
                border-bottom: 1px dotted black;
                float: right;
              }
              .tooltip .tooltiptext {
                visibility: hidden;
                width: 110px;
                background-color: gray;
                color: white;
                text-align: center;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 80%;
                left: 50%;
                margin-left: -120px;
                border: 1px solid gray;
                font-size: 15px;
              }
              .tooltip:hover .tooltiptext {
                visibility: visible;
              }
              .tooltip > a:first-child
              {
                  font-size: 35px;
                  color: black;

              }
              .tooltip > a:hover
              {
                  color: gray;
              }